/*------ CSS Reset ------*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    font-weight: normal;
}

/*------- MAIN STYLING ----*/

.root {
    --navy: #322F42
    --pink: #D97398
    --red: #D9280C
    --babypink: #FAD1D1 
    --white: #ffffff    
}

.root {
    --font-family: 'Cherry Swash', cursive;
    --font-family: 'Montserrat', sans-serif;
}
<!--TYPOGRAPHY-->

h1, h2 {
font-family:   'Cherry Swash', cursive; 
}

p {
    font-family: 'Montserrat', sans-serif;
}
<!--HEADERS-->

h1, h2, p, cite {
    
    text-align: justify;
}

h1 {  
   font-size: 2.157rem;
   text-transform: inherit;
   font-weight: bold;
   font-style: normal;
    text-decoration: none;
    line-height: 3em;
    letter-spacing: 0.2em;
    text-align: center;
}

h1, h2{
   font-size: 2.157rem;
   text-transform: inherit;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
    line-height: 1em;
    letter-spacing: 0.2em;
    text-align: center;
    
}

h2 {
    font-size: 170%;
    text-decoration: underline;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-align: left;
}
/*--- HEADER---*/

header h1 {
    font-family:   'Cherry Swash', cursive;
    text-align: center;
    font-size: 2.157em;
    font-weight: 350;
    color: #322F42;
    padding: 1em 0;
    margin: auto;
    max-width: 100%;
    letter-spacing: -0.05em;
}

background {
    background-color: #fff;
    background-image:url(img/graph-paper.jpg)
    background-size: cover;
    width: 100%;
}

nav {
    width: 100%;
    margin: 0;

    background-color: #D97398;
    padding: 1em 0;
    font-size: 0.75em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {
    color: var(--white);
}

nav a:visited {
    color: #ffffff;
}

nav a:hover {
    border-bottom: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 100px;
}

<!--IMAGES-->

<!--LAYOUT-->

<!--FOOTER-->