/*------ CSS Reset -   -----*/

* {
    padding: 0em;
    margin: 0em;
    font-size: 100%;
    line-height: 1em;
}


/*------- MAIN STYLING ----*/
body {
    width: 100%;
    margin: auto;
    background: #FFf8f9;
    color: #322f42;
    font-family: 'Cherry Swash', cursive;
    font-family: 'Montserrat', sans-serif;
}


article {
    max-width: 800px;
    margin: auto;
    
}
/*--- STYLING LINKS ---*/
    
a {
    color: #D97398;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

a:visited {
    color: #D97398;
}
a:hover {
    color: #46BCFA;
    border-bottom: 1px dotted;
}

/*--- NAVIGATION ---*/
nav {
    font-family: 'Montserrat', sans-serif;
    width: fill;
    margin: 0em;
    background-color: #D97398;
    padding: 1em 0;
    font-size: 0.75em;
    text-decoration: underline;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

nav a:hover {
    margin: 2em;
    border-bottom: none;
    color: #46BCFA;
    text-decoration: dotted underline;
}



/*----- IMAGES -----*/
img {
    border: 1px;
    max-width: 50%;
}

img {
    position: relative;
}

img{
 display: block;
 margin: auto;
}



/*--- FOOTER ---*/
    
footer {
    text-align: center;
    font-size: 0.707em;
    margin: 5em 0 8em 0
}

/*---- TYPOGRAPHY ----*/

h1, h2 {
    width:80%;
    max-width:800px;
    text-align: justify;
}

h1, h2 {
    color: #322f42;
    font-family: 'Cherry Swash', cursive;
}

blockquote {
    font-family: 'Cherry Swash', cursive;
    font-size: 1.563rem;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3.052rem;
    margin: auto;
    padding: 1.5em;
    max-width: 800px;
}

h2 {
    color: #46BCFA;
    font-weight: lighter;
    font-size: 2.441rem;
    text-align: left;
    margin: 1em;
    text-decoration: dotted underline;
    padding: 0em;
    line-height: 2em;
}


p{
   max-width: 800px;
   width: 80%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center justify;
    margin: .5em;
    padding: 0em;
    padding-bottom: 3em;
    line-height: 1.4em;
   


    
