@import url(link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Montserrat&display=swap");

body {
    background-color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color:#07003D;
    padding: 0.4em;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    
}



a{color: #d97398; text-decoration: underline;}
a:hover {color: #46BCFA;}

.smaller {font-size: 1.4em;
          color:#46BCFA;
         margin: right;
    width: 100%;
}

/*----- IMAGES -----*/
img {
    display: block;
    margin: 7em 0;
    padding: 0;
    max-width: 100%;
}

/*---TYPOGRAPHY---*/


h1,h2,h3 {
    margin:2.75rem 0 1rem;
    font-family: 'Cherry Swash', cursive;
    line-height: 1.15;
    text-align: center;
    }

h2 {font-size: 2.441em; border-bottom: 1px solid #322f42; display: inline;
text-align: center;}

h3 {font-size: 1.953em;
    text-align: center;
}

h4 {font-size: 1.563em;
    text-align:center;}

h5 {font-size: 1em;
text-align: center;
color: #46BCFA;}



.text_small {font-size: 0.8em; font-weight: lighter;}

p {
    line-height: 1.75;
    margin-bottom: 1.25em;
    width: 5em;
    text-align:left;
    margin: auto;
    

}

.bibliographyheader {
    text-align:center;}

.bibliography {
    text-align: left;
    
}

.larger {font-size: 80px; color:#322F42;
text-align:center;}

.smaller {font-size: 1.4em;
          color:#46BCFA;
         margin: right;
    width: 100%;
}




.navigation ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

.navigation a {
    border-radius: 1px;
    background: #FAD1D1;
    color:#D97398;
    display:block;
    padding: 20px;
    text-decoration: none;
    
}

.navigation a:hover {
    background:#ffffff;
    color: #46BCFA;
}
nav a:visted {
    color:#D97398;
}

.container {
    background-color: #FAD1D1;
    padding: 1.5em;
    max-height: 100%;
}

.intro {
    max-width: 100%;
    height: 600px;
    padding-top: 120px;
    background-size: cover;
    text-align:left
}

main {
    padding: 1.2em;
    top: -190px;
    margin: auto;
    
    
}

main p {
    width: 50vw;
   
}

blockquote {font-size: 1.4em;
  width:70%;
    margin:auto;
 font-family: 'Montserrat', sans-serif;
  font-style:italic;
  color:#d97398 ;
padding:3em 80px 3em 50px;
  border-left:8px solid #46BCFA ;
  line-height:1.6;
  background: #FAD1D1;
text-align:left;
    
}
    

}

.imgpadding {
    padding-top: 30px;
    padding-bottom: 50px;
}



footer {
    background-color:#FAD1D1;
    color:#322F42;
    padding: 20px;
    text-align: center;
   
}

footer p {
    margin: left;
    width: 100%;
}

footer ul li {
    list-style: none;
  
}

footer a {color:#d97398; text-decoration:none;}
footer a:hover {color:#46bcfa; text-decoration: underline;}